@use 'sass:color';
@use '@material/theme/color-palette';
@use '@material/theme/index' as theme with (
  $primary: color-palette.$yellow-500,
  $secondary: color-palette.$teal-700,
  $surface: color-palette.$teal-700,
  $background: black,
  $error: color-palette.$red-900
);

@import 'material-icons/iconfont/material-icons.css';

html,
body {
  background-color: theme.$background;
  color: theme.$on-surface;
}
